/* 
.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  z-index: 10;
  color: #1666c5;
}

.modalBackground {
  background: #ebebeb;
  width: 50%;
  height: 90%;
  padding: 30px;
} */

/* .modalForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
}

.modalForm input {
  margin: 7px 0 15px 0;
    padding: 3px;
  display: block;
  text-align: left;
  width: 100%;
} */


@media (max-width: 900px) {
  .low-priority-col {
    display: none;
  }
}

/* application table */
.tableContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#title {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
}

#tracker {
  border-collapse: collapse;
  background: white;
  margin: 20px;
}

#stepsTracker {
  border-collapse: collapse;
  background: white;
  margin: 0px 20px;
}

tr {
  border-bottom: 1px solid #ebebeb;
}

#tracker td,
#stepsTracker td,
#stepsTracker th,
#tracker th {
  padding: 12px;
  overflow: hidden;
}

#stepsTracker th,
#tracker th {
  padding: 10px;
  text-align: center;
  background-color: hsl(0, 0%, 90%);
  color: #1666c5;
  font-weight: 500;
  font-size: 1.1em;
}

.operation {
  text-align: center;
}

#hide-ID-col {
  display: none;
}

#notes-column {
  max-width: 200px;
}

#date-column {
  max-width: 40px;
}



.showSteps-enter {
  opacity: 0;
  transform: scale(0.9);
}
.showSteps-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 00ms, transform 500ms;
}
.showSteps-exit {
  opacity: 1;
}
.showSteps-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

.applicationTable {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.addButtonApp {
  margin-top: 20px;
}

.stepsTableBackground {
  background: #f2f2f2;
}

.searchDropDown {
  height: 40px;
  border-radius: 0%;
}

.searchDropDown:focus {
  outline: none;
}

.searchInput {
  height: 40px;
  width: 400px;
  border-radius: 0%;
}

.searchInput:focus {
  outline: none;
}