
.wrapper {
  padding: 20px;
}

.outer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.signinButtonWrapper {
  margin: 20px;
}

#sign-up {
  position: absolute;
  left: 20px;
  list-style-type: none;
  display: flex;
  align-items: center;
}


button {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #1666c5;
  color: rgb(250, 250, 250);
}

.signinButton {
  color: #1666c5;
  background-color: rgb(250, 250, 250);
  border: 1px solid #1666c5;
}

.signupButton {
  padding: 10px 15px;
  font-weight: bold;
}

.modalForm input {
  margin: 5px;
  padding: 3px;
}

.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  z-index: 10;
  color: #1666c5;
}

.modalBackground {
  background: #ebebeb;
  width: 50%;
  height: 90%;
  padding: 30px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.modalForm input {
  margin: 7px 0 15px 0;
  display: block;
  text-align: left;
  width: 100%;
}

.modalButtonWrapper {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.modalButton {
  margin: 5px;
  padding: 5px;
}

.inputSignUp {
  width: 100%;
  margin-bottom: 15px;
}

#list {
  padding: 10px;
  text-align: left;
}

@media (max-width: 900px) {
  .low-priority-col {
    display: none;
  }
}

/* application table */
.tableContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#title {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
}

#tracker {
  border-collapse: collapse;
  background: white;
  margin: 20px;
}

#stepsTracker {
  border-collapse: collapse;
  background: white;
  margin: 0px 20px;
}

tr {
  border-bottom: 1px solid #ebebeb;
}

#tracker td,
#stepsTracker td,
#stepsTracker th,
#tracker th {
  padding: 12px;
  overflow: hidden;
}

#stepsTracker th,
#tracker th {
  padding: 10px;
  text-align: center;
  background-color: hsl(0, 0%, 90%);
  color: #1666c5;
  font-weight: 500;
  font-size: 1.1em;
}

.operation {
  text-align: center;
}

#hide-ID-col {
  display: none;
}

#notes-column {
  max-width: 200px;
}

#date-column {
  max-width: 40px;
}

i {
  color: hsl(0, 0%, 40%);
  background-color: white;
  width: 40px;
  height: 40px;
  align-items: center;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

i:hover {
  background-color: #ebebeb;
}

.showSteps-enter {
  opacity: 0;
  transform: scale(0.9);
}
.showSteps-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 00ms, transform 500ms;
}
.showSteps-exit {
  opacity: 1;
}
.showSteps-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

.applicationTable {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.addButtonApp {
  margin-top: 20px;
}

.stepsTableBackground {
  background: #f2f2f2;
}

.searchDropDown {
  height: 40px;
  border-radius: 0%;
}

.searchDropDown:focus {
  outline: none;
}

.searchInput {
  height: 40px;
  width: 400px;
  border-radius: 0%;
}

.searchInput:focus {
  outline: none;
}
