@media (max-width: 900px) {
  .low-priority-col {
    display: none;
  }
}

.showSteps-enter {
  opacity: 0;
  transform: scale(0.9);
}
.showSteps-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 00ms, transform 500ms;
}
.showSteps-exit {
  opacity: 1;
}
.showSteps-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

